body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.tabel {
    width: 100%;
    border-collapse: collapse;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.oferta {
    padding: 20px;
    border: 1px solid #ddd;
}


.img {
    max-width: 100%;
    margin-bottom: 10px;
	max-height:200px;
}

.auth {
    text-align: center;
    padding: 20px;
	color:black;
}

a {
    background-color: #F2C2EB;
    color:black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

a:hover {
    background-color: #D99BC8;
	color:black;
}

