# Node / Fiori
node_modules/
dist/
.build/
*.mtar
mta_archives/

# SAP Business Application Studio
.vscode/
.devcontainer/

# Credentials (NEVER commit these)
btp/destinations/credentials.json
**/xs-security-local.json
**/*.env
.env

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
